<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://plugin.powerschool.pearson.com" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation='http://plugin.powerschool.pearson.com plugin.xsd'
	name="CSIP"
	version="1.0.0"
	description="Plugin for access for CSIP">
	<oauth></oauth>
	<openid host="development.washk12.org">
		<links>
			<link title="CSIP Login" display-text="CSIP" path="/csip_v5/webroot/">
				<ui_contexts>
					<ui_context id="admin.left_nav" />
					<ui_context id="teacher.header" />
				</ui_contexts>
			</link>
		</links>
	</openid>
	<access_request>
		<field table="COURSES" field="DCID" access="ViewOnly" />
		<field table="COURSES" field="CREDITTYPE" access="ViewOnly" />
		<field table="COURSESCOREFIELDS" field="COURSESDCID" access="ViewOnly" />
		<field table="COURSESCOREFIELDS" field="ALT_COURSE_NUMBER" access="ViewOnly" />
	</access_request>  
	<publisher name="Jim Black">
		<contact email="jim.black@washk12.org" />
	</publisher>
</plugin>
