html {
  /* 1 */
  font: normal 14px / 20px "Open Sans", Helvetica Neue, Helvetica, Arial, sans-serif;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  /* 3 */
  background: #ffffff;
  color: #444444;
  background-image: -webkit-radial-gradient(100% 100%, center, #ffffff, #ffffff);
  background-image: radial-gradient(100% 100% at center, #ffffff, #ffffff);
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
  margin: 0 0 15px 0;
  font-family: "Open Sans", Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #444444;
  text-transform: none;
}

.uk-navbar-nav > li > a {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  /* 1 */
  height: 41px;
  padding: 0 15px;
  line-height: 40px;
  /* 2 */
  color: #444444;
  font-size: 14px;
  font-family: "Open Sans", Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: normal;
  margin-top: -1px;
  margin-left: -1px;
  border: 1px solid transparent;
  border-bottom-width: 0;
  text-shadow: 0 1px 0 #ffffff;
}

l1, 
l2, 
l3, 
l4, 
l5, 
l6 {
  margin: 0 0 15px 0;
  font-family: "Euphoria Script", Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #444444;
  text-transform: none;
}

/*
 * Sizes
 */
l1,
.uk-l1 {
  font-size: 36px;
  line-height: 42px;
}
l2,
.uk-l2 {
  font-size: 24px;
  line-height: 30px;
}
l3,
.uk-l3 {
  font-size: 18px;
  line-height: 24px;
}
l4,
.uk-l4 {
  font-size: 16px;
  line-height: 22px;
}
l5,
.uk-l5 {
  font-size: 14px;
  line-height: 20px;
}
l6,
.uk-l6 {
  font-size: 12px;
  line-height: 18px;
}

