a.custom-anchor {
  text-decoration: underline !important;
}

html {
  font: normal 14px / 20px "Open Sans", Helvetica Neue, Helvetica, Arial, sans-serif;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
  font-family: "Open Sans", Helvetica Neue, Helvetica, Arial, sans-serif;
}

.uk-navbar-nav > li > a {
  font-family: "Open Sans", Helvetica Neue, Helvetica, Arial, sans-serif;
}

l1, 
l2, 
l3, 
l4, 
l5, 
l6 {
  margin: 0 0 15px 0;
  font-family: "Euphoria Script", Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #444444;
  text-transform: none;
}

/*
 * Sizes
 */
l1,
.uk-l1 {
  font-size: 36px;
  line-height: 42px;
}
l2,
.uk-l2 {
  font-size: 24px;
  line-height: 30px;
}
l3,
.uk-l3 {
  font-size: 18px;
  line-height: 24px;
}
l4,
.uk-l4 {
  font-size: 16px;
  line-height: 22px;
}
l5,
.uk-l5 {
  font-size: 14px;
  line-height: 20px;
}
l6,
.uk-l6 {
  font-size: 12px;
  line-height: 18px;
}

